@{
    ViewBag.Title = "Souvenir";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="well">
    <table style="font-family:Comic Sans MS" class="table table-bordered">

        <tr>
            <th>
                Souvenir Type
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>


        </tr>

        @foreach (var Element in ViewBag.Emplist)
        {
            <tr>
                <td>
                    @Element.Souvenirname
                </td>

                <td>
                    @Element.Description
                </td>
                <td>
                    @Element.Price
                </td>
                <td>
                    <a href="/Home/AddtoCart?Souvenirname=@Element.Souvenirname" onclick="return confirm ('Are you sure?')">Add to Cart</a>
                </td>
            </tr>

        }
    </table>
</div>