@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h3>@ViewBag.Message</h3>

<link href="https://fonts.googleapis.com/css?family=Quicksand:400,300" rel="stylesheet">
<div class="table">
    <table style="font-family:'Quicksand', sans-serif;" class="table table-bordered">

        <tr>
            <th>
                Souvenir Type
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>


        </tr>

        @foreach (var Element in ViewBag.Emplist)
        {
            <tr>
                <td>
                    @Element.Souvenirname
                </td>

                <td>
                    @Element.Description
                </td>
                <td>
                    @Element.Price
                </td>
                <td>
                    <a href="/Home/AddtoCart?Souvenir=@Element.Souvenirname" onclick="return confirm('Your item was successfully added to the cart!')" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
                </td>
            </tr>

        }
    </table>

    @ViewBag.Message 
    <a href="/Home/Cart/" class="btn btn-block btn-primary btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> Go to Cart</a>
</div>