
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member</h2>


<div class="panel panel-default">
    <div class="panel-body">
<table class="table" >
    <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Location</th>

       </tr>
       
    <tr>
        <td>@ViewBag.EventData.Name;</td>
       <td> @ViewBag.EventData.Genre;</td>
       <td> @ViewBag.EventData.Location;</td>
    </tr>
        
    <tr>
        <td> @ViewBag.FoodData.Name;</td>
        <td> @ViewBag.FoodData.Genre;</td>
        <td> @ViewBag.FoodData.Location;</td>
    </tr>
               </table>
    </div>
</div>

